<div class="container fullscreen border">
    <img class="fill" src="assets/backgrounds/background.jpg">
    <div class="container-overlay">
        <h1 class="purple shadow">
            {{title}}
        </h1>
        <p class="welcome purple shadow" [ngClass]="{'show': displayWelcome}">"Welcome to my show"</p>
        <div class="button-container flex even">
            <div class="button flex center load">
                <span>Load</span>
            </div>
            <div class="button flex center start" (click)="navigateDialogue()">
                <span>Start</span>
            </div>
        </div>
    </div>
</div>