img {
    object-fit: cover; 
}

.container-overlay {
    position: absolute;
    top: 100px;
    width: 100%;
}

.button-container {
    margin-top: 20%;
}

h1 {
    text-align: center;
    font-size: 85px;
    font-family: Segoe Script;
}

.button:hover {
    &.load {
        background-color: red;
    }
    &.start {
        background-color: turquoise;
    }
}
