img {
    object-fit: cover; 
}

.container-overlay {
    position: absolute;
    top: 100px;
    width: 100%;
}

.button-container {
    margin-top: 20%;
}

h1 {
    text-align: center;
    color: #df97cf;
    font-size: 85px;
    font-family: Segoe Script;
    text-shadow: 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000, 0 -2px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000;
}

.button:hover {
    &.load {
        background-color: red;
    }
    &.start {
        background-color: turquoise;
    }
}
