<div class="container-imagem">
    <img
        src="https://cdna.artstation.com/p/assets/images/images/000/801/168/large/abraham-leal-004-abe-leal-victorian-town-portfolio.jpg?1433372917">
    <div class="container-overlay">
        <h1>
            {{title}}
        </h1>
        <div class="button-container">
            <div class="button">
                <span>Start</span>
            </div>
            <div class="button">
                <span>Load</span>
            </div>
        </div>
    </div>
</div>