.container-imagem {
    position: relative;
    width: calc(100vw - 15px); 
    height: calc(100vh - 30px); 
    background-color:red;
    img {
        border: 2px solid black; 
        object-fit: cover; 
        height: 100%;
        width: 100%;
    }
    .container-overlay {
        position: absolute;
        top: 100px;
        width: 100%;
    }
}

.button-container {
    margin-top: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: fit-content;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    span {
        margin: 0 20px;
    }
}

h1 {
    text-align: center;
    color: #df97cf;
    font-size: 85px;
    font-family: Edwardian Script ITC;
    text-shadow: 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000, 0 -2px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000;
}