.container.overlay {
    flex-wrap: wrap;
}

.container.img {
    width: 50%;
    height: 50%;
    img {
        object-fit: contain;
    }
}

.container.text {
    position: relative;
    width: calc(100% - 80px);
    height: calc(50% - 80px);
    padding: 40px;
    background-color: black;
    opacity: 0.3;
    span {
        display: inline-block;
        text-align: center;
        width: 80%;
        color: white;
        font-size: 25px;
    }
}

.container.buttons {
    width: 50%;
    height: 50%;
}

.container.image {
}