<div class="container fullscreen border" *ngIf="dialogue">
    <img class="fill cover" [src]="dialogue?.background">
    <div class="container overlay fill flex center">
        <div class="container img">
            <img class="fill" [src]="dialogue?.image">
        </div>
        <div class="container buttons flex even">
            <div class="button flex center option" *ngFor="let option of dialogue.options" (click)="changeDialogue(option.index, option.badEnd)">
                <span>{{option?.message}}</span>
            </div>
        </div>
        <div class="container overlay text flex center">
            <span>{{dialogueMessage}}</span>
        </div>
    </div>
</div>