<div class="container fullscreen border">
    <img class="fill cover blurred" src="assets/background.jpg">
    <div class="container overlay fill flex center">
        <div class="container text flex center">
            <span class="shadow" [ngClass]="{'purple': !badEnd, 'red': badEnd}">
                {{badEnd ? 'Bad end!' : 'Happy ending!'}}
            </span>
        </div>
        <div class="container buttons flex even">
            <div class="button flex center" routerLink="title">
                <span>{{badEnd ? 'Try again' : 'Hooray!'}}</span>
            </div>
        </div>
    </div>
</div>  