.container.overlay {
    flex-direction: column;
}

.container.text {
    width: 100%;
    font-size: 85px;
    font-family: Segoe Script;
}

.container.buttons {
    margin-top: 10%;
    width: 100%;
}
